* {
  font-size: 10px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  height: 8rem;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 5rem;
}

.logo {
  width: 5rem;
  border-radius: 2rem;
}

.navbar {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.page-details {
}

.page-details h2 {
  background: linear-gradient(black, rgb(55, 3, 3));
  text-align: center;
  font-size: 2rem;
  color: #fff;
  padding: 2rem 0;
}

#home {
  display: flex;
  justify-content: center;
  background-color: rgb(54, 7, 7);
}

.cars img {
  width: 36rem;
  height: 20rem;
}

.cars {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 2rem;
}

.car {
  margin: 1rem;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 0.7rem;
}

.specs {
  color: #fff;
}

.text {
  display: flex;
}

.model {
  margin-right: 1rem;
  font-size: 2rem;
  margin-top: 1rem;
}

.brand {
  margin-bottom: 1rem;
  margin-right: 1rem;
  font-size: 1.3rem;
}

@media screen and (max-width: 600px) {
  .navbar {
    width: 75%;
  }
  .navbar a {
    font-size: 1rem;
    padding-right: 0.3rem;
  }

  .cars {
    grid-template-columns: 1fr;
  }

  .cars img {
    width: 34rem;
  }
}
